In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os
from owi_data_2_pandas.io import API
import datetime
from pytz import utc
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap

import dotenv
dotenv.load_dotenv()

True

In [7]:
user = os.getenv('API_USERNAME') 
password = os.getenv('API_PASSWORD')
root = r"http://10.0.0.138/api/v1/"

In [8]:
from owi_data_2_pandas.io import API
owi_api = API(api_root=root, username=user, password=password)

In [9]:
owi_api.groups

,project,locations,datagroups
id,,,
1,prj_smartbridge,"[mo01, opzuid]","[acceleration, fiber, mpe]"
2,parkwind_northwester2,"[nw2e01, nw2f01, nw2d01]",[scada]
3,parkwind,[bbc01],"[acceleration, mpe, scada]"
4,parkwind_northwester2,"[nw2e01, nw2f01, nw2d01, nw2a01, nw2a02, nw2a0...","[acceleration, mpe, scada]"
5,nobelwind,"[bbg10, bbk05, bbg08]","[FBG, acceleration, bolt, corrosion, fatigue, ..."

In [11]:
metrics = owi_api.metrics(locations='BBC01')
metrics

,metric,short_hand,unit_str,location
0,mpe_BB_C01_FA1,FA1,,BBC01
1,mpe_BB_C01_SS1,SS1,,BBC01
2,mpe_BB_C01_SS2,SS2,,BBC01
3,mean_BB_C01_rpm,rpm,,BBC01
4,mean_BB_C01_yaw,yaw,°,BBC01
...,...,...,...,...
58,rms_BB_C01_TW_ACC_LAT069_DEG031_X_nr1,TW_ACC_LAT069_DEG031_X_nr1,g,BBC01
59,rms_BB_C01_TW_ACC_LAT069_DEG031_Y_nr2,TW_ACC_LAT069_DEG031_Y_nr2,g,BBC01
60,mpe_BB_C01_B1,B1,,BBC01
61,mpe_BB_C01_FA2B,FA2B,,BBC01
62,mpe_BB_C01_FA2,FA2,,BBC01

In [27]:
start = datetime.datetime(2023, 1, 1, tzinfo=utc)
stop = datetime.datetime(2023, 1, 2, tzinfo=utc)
location = 'nw2c02'
metrics = owi_api.metrics(locations=location)
owi_api.query((start, stop), location=location, metrics = metrics.metric).head()

,location,mean_NW2_C02_rpm,mean_NW2_C02_yaw,std_NW2_C02_pitch,mean_NW2_C02_pitch,mean_NW2_C02_power,std_NW2_C02_towerxacc,std_NW2_C02_toweryacc,std_NW2_C02_windspeed,mean_NW2_C02_towerxacc,...,min_NW2_C02_NAC_ACC_SS,rms_NW2_C02_NAC_ACC_FA,rms_NW2_C02_NAC_ACC_SS,std_NW2_C02_NAC_ACC_FA,std_NW2_C02_NAC_ACC_SS,mean_NW2_C02_NAC_ACC_FA,mean_NW2_C02_NAC_ACC_SS,rms1p_NW2_C02_NAC_ACC_Z,rms1p_NW2_C02_NAC_ACC_FA,rms1p_NW2_C02_NAC_ACC_SS
timestamp,,,,,,,,,,,,,,,,,,,,,
2023-01-01 00:00:00+00:00,NW2C02,0.0,194.352,0.000000,90.7,-18.240,96.059046,230.033780,2.500,-9.601411,...,-0.033359,0.023873,0.011041,0.023873,0.011041,0.0,0.0,0.000045,0.000367,0.000217
2023-01-01 00:10:00+00:00,NW2C02,0.0,192.898,0.000000,90.7,-17.920,104.727864,201.892053,2.363,-12.555957,...,-0.038809,0.020798,0.011602,0.020798,0.011602,0.0,0.0,0.000036,0.000295,0.000258
2023-01-01 00:20:00+00:00,NW2C02,0.0,190.352,0.000000,90.7,-17.344,119.632784,216.179826,2.590,-7.635209,...,-0.040584,0.022648,0.013165,0.022648,0.013165,0.0,0.0,0.000036,0.000304,0.000190
2023-01-01 00:30:00+00:00,NW2C02,0.0,188.785,0.026012,90.7,-16.000,102.769432,257.236999,2.879,-11.220401,...,-0.033238,0.028029,0.011108,0.028029,0.011108,0.0,0.0,0.000049,0.000365,0.000244
2023-01-01 00:40:00+00:00,NW2C02,0.0,188.338,0.036376,90.7,-17.344,108.993546,197.593196,2.922,-9.713781,...,-0.038885,0.022284,0.012322,0.022284,0.012322,0.0,0.0,0.000026,0.000215,0.000192